body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #a8c0ff, #3f2b96); 
    margin: 0;
    padding: 20px;
    color: #333; 
}
.card {
    background: rgba(255, 255, 255, 0.95); 
    border-radius: 20px; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px; 
    max-width: 450px; 
    width: 100%;
    text-align: center;
}

.card:hover {
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.9); 
}

input {
    width: 100%;
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 18px;
}

input:focus {
    border-color: #000000;
    box-shadow: 0 0 8px rgba(247, 121, 125, 0.9);
}

button {
    margin-top: 25px;
    padding: 12px 35px;
    border: 1px solid #000000;
    background: linear-gradient(45deg, #8383a2, #616177); 
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 5px 35px rgba(49, 0, 90, 0.4);
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #310062, #4b0082);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.6);
}

.stats {
    margin-top: 25px;
    font-size: 17px;
    font-weight: 500;
    color: #555;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(63, 43, 150, 0.85); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 450px;
    width: 90%;
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
    animation: fadeInModal 0.4s ease;
}
@media (max-width: 480px) {
  .card {
    padding: 25px;
    max-width: 90%;
  }

  input, button {
    font-size: 16px;
    padding: 10px 12px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  .stats {
    font-size: 15px;
  }

  .modal-content {
    padding: 25px;
    width: 90%;
  }
}
